<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail from RentYug</title>
</head>
<style>
    body{
        margin: 30px;
        padding: 20px;
        box-shadow: 1px 1px 8px 3px rgb(136, 133, 133);
    }

    .head{
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    a{
        color: orange;
    }
</style>
<body>
    <h1>Dear {{first_name}}</h1>

    <br/>
    <p>I am Ayu, your vertual assistant from <a href='https://rentyug.com'>RentYug.</a></p>
    <p>Thank you for confirming Email. Your are one of our most valuable customer and we will try to give the best for you.</p>
    <p> I am here to Guid you about some most rated FEATURES.</p>
    <p>
        <ul>
            <li>
                <h4><a href="https://rentyug.com/request-page/">Request Page</a></h4>
                <p>
                    Always, we go to the shop and ask about the thing that we want and waste our lots of time there. Sounds irritating right but this is what we do. RentYug is presenting a better way for this. Just request what you want and provider will find you. you will get many choices.
                </p>
            </li>
            <li>
                <h4><a href="https://rentyug.com/posts">Posts</a></h4>
                <p>
                    Feeling boredum, Come on the RentYug posts page. Here you would get the things that you like. If you don't like it will not be there. Put your dream on the top with less money.
                </p>
            </li>
            <li>
                <h3>Get Best</h3>
                <p>
                    We are trying to provide best to our RentYug family. Hence we introduced a <b>Verified</b> tag on services any one can apply for that but get that tag who provide true details. We will verify that. if somethone try to change something in service it will be removed automatically.
                </p>
            </li>
            <li>
                <h4>We make things easier for our long term customers</h4>
                <p>
                    We are storing how much times people rented items. So providers can easly make trust to give their items.
                </p>
            </li>
            <li>
                <h4>Which provider is nearby you?</h4>
                <p>
                    On the map you can see which provider is nearby you. Filter them, Contact them or Give feedbakck to us.
                </p>
            </li>
        </ul>
    </p>
    <p>These are just most rated and the whole list is left. So go to our website explore and tell us which one is the best feature of our website.</p>

    <div class="head">
        <h1><a href="https://rentyug.com">RentYug</a></h1>
    </div>
    <h4>
        Thank you <br>
        Team RentYug
    </h4>
    <h4></h4>
    
</body>
</html>