<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail from RentYug</title>
</head>
<style>
    body{
        margin: 30px;
        padding: 20px;
        box-shadow: 1px 1px 8px 3px rgb(136, 133, 133);
    }

    .head{
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    a{
        color: orange;
    }
</style>
<body>
    <h1>Dear {{first_name}}</h1>
    <p>We got your request to reset your password.</p>

    <br/>
    <br/>
    <p>Temporary password : "<b>{{id}}<b>"</h3>
    <br/>
    <br/>

    <h5><a style='color:blue' href="https://rentyug-backend.live/reset-pass/{{id}}">CLICK HERE TO TEMPORARILY SET "{{id}}" AS YOUR PASSWORD.</a></h5>


    <p>Click on the link then we will set your temporary password that you can change from you account page reset password.</p>
    <p>Link is valid till tonight 11:59pm.</p>

    <br/>
    <br/>
    <p>Hi, I am Shri from <a href='https://rentyug.com'>RentYug.</a></p>
    <p>Here is guide to reset your password.</p>
    <p>
        <ul>
            <li><a href="https://rentyug-backend.live/reset-pass/{{id}}">Click here</a> to set your new password that is showing above.</li>
        </ul>
        <ul>
            <li>Go to <a href="https://rentyug.com/login">RentYug.com/login</a>.</li>
        </ul>
        <ul>
            <li>Login with your username and "{{id}}" as password.</li>
        </ul>
        <ul>
            <li>Go to <a href="https://rentyug.com/account/{{first_name}}">RentYug.com/account/{{first_name}}</a>.</li>
        </ul>
        <ul>
            <li>Click the change password button.</li>
        </ul>
        <ul>
            <li>Put "{{id}}" as your old password and create your new password.</li>
        </ul>
        <ul>
            <li>Hit 'set' and all set.</li>
        </ul>
        <ul>
            <li>Last but not least, If you did not verify your Email Id please verify it. It will help us to make our application more secure.</li>
        </ul>
    </p>

    <h4>RentYug is one of the best way to make passive income. Want to know how? contact us. You can also reply this email.</a></h4>
    
    <div class="head">
        <h1><a href="https://rentyug.com">RentYug</a></h1>
    </div>

    <h4>
        Thank you <br>
        Team RentYug
    </h4>
    <h4></h4>
    
</body>
</html>