<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail from RentYug</title>
</head>
<style>
    body{
        margin: 30px;
        padding: 20px;
        box-shadow: 1px 1px 8px 3px rgb(136, 133, 133);
    }

    .head{
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    a{
        color: orange;
    }
</style>
<body>
    <h1>Hello {{first_name}}</h1>

    <br/>
    <p>I am Shri from <a href='https://rentyug.com'>RentYug.</a></p>
    <br/>
    <p>You are one of our precious customer and we want to say very thank you for showing your interest in RentYug. But we need some more help from you.</p>
    <p>Everyone has has atleast one product or item which might be extra for them and maybe, someone needs that product, maybe very important for him/her.</p>
    <p>You can help us, as well as that person at the same time. </p>

    <p>
        <h5>Some items to put on rent. Just to give you an idea :</h5>
        <ul>
            <li>Old Books for students.</li>
            <li>Clothes like luxury suits, sarees, etc.</li>
            <li>Musical instrument like Guitar, etc.</li>
            <li>Holly Books like Ramayan, etc.</li>
            <li>Noble Books like Rich dad poor dad, etc.</li>
            <li>Drawing and Painting instruments lile brushes, etc.</li>
            <li>Sport items like Shoes, Bat, ball, hockey, etc.</li>
            <li>These are just some examples so you can think, What do you have that can you give on rent?</li>
        </ul>
    </p>
    <p>You are not going to give anything free of cost. You will help and earn at the same time.</p>
    <p>Our purpose is to help those, who want to help themself. That is why we started this renting platform and providing items to those who need them.</p>
    <p>But if you have something to give on rent that you can give free of cost and do not want to manage them, then You can donate us.</p>
    <p>If you would donate, then we will provide those items at lowest price and we will just add delievery cost on them.</p>
    <br/>

    <p>I hope you would have something that you can put on rent on our website.</p>
    <p>Please provide them. So together, we can help someone.</p>
    <p>In case of any query you can contact us. You can reply to this email(rarely, It can take some time to get reply) or call us from our wensite.</p>
    <br/>
    <p>Go to account page and add Items. You can add atleast one. <a href="https://rentyug.com/account/{{first_name}}/">click here to go</a>.</p>
    <br/>

    <div class="head">
        <h1><a href="https://rentyug.com">RentYug</a></h1>
    </div>
    <h4>
        Thank you for being a valuable customer<br>
        Team RentYug
    </h4>
    <h4></h4>
    
</body>
</html>