<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail from RentYug</title>
</head>
<style>
    body{
        margin: 30px;
        padding: 20px;
        box-shadow: 1px 1px 8px 3px rgb(136, 133, 133);
    }

    .head{
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    a{
        color: orange;
    }
</style>
<body>
    <h1>Hello {{first_name}}</h1>

    <br/>
    <p>I am Shri from <a href='https://rentyug.com'>RentYug.</a></p>
    <br/>
    <p>Everyone has has atleast one product or item which might be extra for them and maybe, someone needs that product, maybe very important for him/her.</p>
    <br/>

    <p><b>Our purpose</b> is to help those people, who want to help themself. That is why we started this renting platform and providing items to those who need them.</p>
    <br/>
    <p>But you can also donate here.</p>
    <p>If you would <b>donate</b>, then we will provide those items at lowest price and we will just add delievery cost on them.</p>
    <br/>

    <p><b>I hope you would have something that you can put on rent for the people.</b></p>
    <p>You can help us, as well as that person at the same time.</p>
    <p>You can put anything that seems extra for you.</p>
    <p><b>Please provide them. So together, we can help someone.</b></p>
    <p>Go to account page and add Items. You can add atleast one. <a href="https://rentyug.com/account/{{first_name}}/">click here to go</a>.</p>
    <br/>
    <em>In case of any query you can contact us. You can reply to this email(rarely, It can take some time to get reply) or call us from our wensite.</em>
    <br/>
    <br/>

    <div class="head">
        <h1><a href="https://rentyug.com">RentYug</a></h1>
    </div>
    <h4>
        Thank you for being a valuable customer<br>
        Team RentYug
    </h4>
    <em>You are getting this email because you have signed up on rentyug and your notification is on.</em>
    <em>You can unsubscribe this email from your account page on rentyug.</en>
    
</body>
</html>