<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail from RentYug</title>
</head>
<style>
    body{
        margin: 30px;
        padding: 20px;
        box-shadow: 1px 1px 8px 3px rgb(136, 133, 133);
    }

    .head{
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    a{
        color: orange;
    }
</style>
<body>
    <h1>Dear {{first_name}}, You have unread messages.</h1>

    <br/>
    
    <h3>{{message}}</h3>
    <p>I am Ayu, your vertual assistant from <a href='https://rentyug.com'>RentYug.</a></p>
    <p> Do you know, why this personal is messaging you? I think you got a deal. let's grab it.</p>
    <p>
        <ul>
            <li>
                <h4><a href="https://rentyug.com/request-page/">Request Page</a></h4>
                <p>
                    Always, we go to the shop and ask about the thing that we want and waste our lots of time there. Sounds irritating right but this is what we do. RentYug is presenting a better way for this. Just request what you want and provider will find you. you will get many choices.
                </p>
            </li>
            <li>
                <h4><a href="https://rentyug.com/posts">Posts</a></h4>
                <p>
                    Feeling boredum, Come on the RentYug posts page. Here you would get the things that you like. If you don't like it will not be there. Put your dream on the top with less money.
                </p>
            </li>
        </ul>
    </p>
    <p style="font-size:10px"><i>You can turn off email notification from your account page on RentYug</i></p>

    <div class="head">
        <h1><a href="https://rentyug.com">RentYug</a></h1>
    </div>
    <h4>
        Thank you <br>
        Team RentYug
    </h4>
    <h4></h4>
    
</body>
</html>