<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail from RentYug</title>
</head>
<style>
    body{
        margin: 30px;
        padding: 20px;
        box-shadow: 1px 1px 8px 3px rgb(136, 133, 133);
    }

    .head{
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    a{
        color: orange;
    }
</style>
<body>
    <h1>Dear {{first_name}}, You have unread messages.</h1>

    <br/>
    <h3>{{message}}</h3>
    <p>Hi, I am Shri from <a href='https://rentyug.com'>RentYug.</a></p>
    <p>Do you know, why this personal is messaging you? I think you got a deal. let's grab it.</p>
    <p>
        <ul>
            <li>
                <h4><a href="https://rentyug.com/request-page/">Request Page</a></h4>
            </li>
            <li>
                <h4><a href="https://rentyug.com/posts">Posts</a></h4>
            </li>
        </ul>
    </p>
    
    <h4>RentYug is one of the best way to make passive income. Want to know how? contact us. You can also reply this email.</a></h4>
    <p style="font-size:10px"><i>You can turn off email notification from your account page on RentYug</i></p>

    <div class="head">
        <h1><a href="https://rentyug.com">RentYug</a></h1>
    </div>
    <h4>
        Thank you <br>
        Team RentYug
    </h4>
    <h4></h4>
    
</body>
</html>