<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail from RentYug</title>
</head>
<style>
    body{
        margin: 30px;
        padding: 20px;
        box-shadow: 1px 1px 8px 3px rgb(136, 133, 133);
    }

    .head{
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    a{
        color: orange;
    }
</style>
<body>
    <h1>Dear {{first_name}}</h1>
    <br/>
    <p>I am Shri from <a href='https://rentyug.com'>RentYug.</a></p>

    <p>Thank you for signup that you have done much time before But you did not verify your email.</p>
    <p>Please verify your email through below link. This thing will help us to give you safe and secure plateform and typically we will also inform you about new messages on you account.</p>
    <p><h5><a style='color:blue' href="https://rentyug-backend.live/confirm-email/{{id}}">CONFIRM YOUR EMAIL ID.</a> Link will expire today at 11:59pm.<i> After click you will just get a confirmed email.</i></h5></p>
    <br/>
    <div class="head">
        <h1><a style='color:blue' href="https://rentyug.com">RentYug</a></h1>
    </div>
    <h4>
        Thank you for being a valuable customer<br>
        Team RentYug
    </h4>
    
    <p>You are getting this email because you have signed up on rentyug and your notification is on.</p>
    <em>You can unsubscribe this email from your account page on rentyug.</en>
    
</body>
</html>