<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail from RentYug</title>
</head>
<style>
    body{
        margin: 30px;
        padding: 20px;
        box-shadow: 1px 1px 8px 3px rgb(136, 133, 133);
    }

    .head{
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    a{
        color: orange;
    }
</style>
<body>
    <h1>Dear {{first_name}}</h1>
    <br/>
    <p>I am Shri from <a href='https://rentyug.com'>RentYug.</a></p>

    <p>Thank you for signup that you have done much time before But you did not verify your email.</p>
    <p>Please verify your email through below link. This thing will help us to give you safe and secure plateform and typically we will also inform you about new messages on you account.</p>
    <p><h5><a style='color:blue' href="https://rentyug-backend.live/confirm-email/{{id}}">CONFIRM YOUR EMAIL ID.</a> Link will expire today at 11:59pm.<i> After click you will just get a confirmed email.</i></h5></p>
    <br/>
    <p>Along with that, I am here to Guide you about some most rated FEATURES of our website.</p>
    <p>
        <ul>
            <li>
                <h4><a href="https://rentyug.com/request-page">Request Page</a></h4>
                <p>
                    Always, we go to the shop and ask about the thing that we want and waste our lots of time there. Sounds irritating right but this is what we do. RentYug is presenting a better way for this. Just request what you want and provider will find you. you will get many choices.
                </p>
            </li>
            <li>
                <h4><a href="https://rentyug.com/posts">Posts</a></h4>
                <p>
                    Feeling boredum, Come on the RentYug posts page. Here you would get the things that you like. If you don't like, it will not be there. Put your dream on the top with less money.
                </p>
            </li>
            <li>
                <h3>Get Best</h3>
                <p>
                    We are trying to provide best to our RentYug family. Hence we introduced a <b>Verified</b> tag on services any one can apply for that but get that tag who provide true details. We will verify that. if somethone try to change something in service it will be removed automatically.
                </p>
            </li>
            <li>
                <h4>We make things easier for our long term customers</h4>
                <p>
                    We are storing how much times people rented items. So providers can easly make trust to give their items.
                </p>
            </li>
            <li>
                <h4>Long term advantage</h4>
                <p>
                    You will be given a verified tag by which you can rent any product without giving anything like security money.
                </p>
            </li>
            <li>
                <h4>Which provider is nearby you?</h4>
                <p>
                    On the map you can see which provider is nearby you. Filter them, Contact them or Give feedbakck to us.
                </p>
            </li>
        </ul>
    </p>
    <h4>RentYug is one of the best way to make passive income. Want to know how? contact us. You can also reply this email.</a></h4>
    <p>These are just most rated and the whole list is left. So go to our website explore and tell us which one is the best feature of our website.</p>

    <div class="head">
        <h1><a style='color:blue' href="https://rentyug.com">RentYug</a></h1>
    </div>
    <p><h3><a style='color:blue' href="https://rentyug-backend.live/confirm-email/{{id}}">Confirm your email please.</a> Link will expire today at 11:59pm.</h3></p>
    <h4>
        Thank you for being a valuable customer<br>
        Team RentYug
    </h4>
    <h4></h4>
    
</body>
</html>